.slide {
    width: 100vw;
    height: 100vh;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }

  .outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  ::-webkit-scrollbar {
    display:none;
  }
  
  .one {
    background: #efdefe;
  }
  .two {
    background: #a3f3d3;
  }
  .three {
    background: #0bbaa0;
  }
  .four {
    background: #00dfdf;
  }



  .box {
    display: flex;

  }

  #curved-corner-bottomleft,
  #curved-corner-bottomright,
  #curved-corner-topleft,
  #curved-corner-topright {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
  }
  #curved-corner-bottomleft:before,
  #curved-corner-bottomright:before,
  #curved-corner-topleft:before,
  #curved-corner-topright:before {
    content: "";
    display: block;
    width: 200%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
  }
  #curved-corner-bottomleft:before {
    bottom: 0;
    left: 0;
    box-shadow: -50px 50px 0 0 red;
  }
  #curved-corner-bottomright:before {
    bottom: 0;
    right: 0;
    box-shadow: 50px 50px 0 0 red;
  }
  #curved-corner-topleft:before {
    top: 0;
    left: 0;
    box-shadow: -50px -50px 0 0 red;
  }
  #curved-corner-topright:before {
    top: 0;
    right: 0;
    box-shadow: 50px -50px 0 0 red;
  }